//variables
$color-fondo: rgba(228, 228, 223, 0.865); 
$color-font: rgb(174, 10, 10);

.boxInicio{
    background: $color-fondo;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
